{% load static i18n %}
<section id="calendar" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center mb-5">
        <h2 class="display-4 mb-4 section-title">{% translate "Próximos Eventos" %}</h2>
        <p class="lead">{% translate "Manténgase actualizado con nuestro calendario de incursiones y actividades de la hermandad." %}</p>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-6">
        <div class="card border-primary">
          <div class="card-header bg-primary text-white">
            <h5 class="mb-0"><i class="fas fa-calendar-alt me-2"></i>{% translate "Próximos Eventos" %}</h5>
          </div>
          <div class="card-body">
            {% for event in events %}
              <div class="event-item mb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="mb-1">{{ event.raid_id }}</h6>
                    <small class="text-muted">{{ event.start_time }}</small>
                  </div>
                  <a href="https://raidres.fly.dev/res/{{event.reference}}" target="_blank"><span class="badge bg-success">{{ event.signups }}</span></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card border-success">
          <div class="card-header bg-success text-white">
            <h5 class="mb-0"><i class="fas fa-star me-2"></i>Special Events</h5>
          </div>
          <div class="card-body">
            {% for event in special_events %}
              <div class="event-item mb-3">
                <h6 class="mb-1">{{ event.name }}</h6>
                {% if event.description %}
                  <p class="mb-1">{{ event.description }}</p>
                {% endif %}
                {% if event.url %}
                  <p class="mb-1"><a href="">{{ event.url }}</a></p>
                {% endif %}
                <small class="text-muted">{{ event.date }}</small>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
