{% load static i18n %}
<section id="gallery" class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center mb-5">
        <h2 class="display-4 mb-4 section-title text-light">{% translate "Galería de Imágenes" %}</h2>
        <p class="lead text-light">{{ gallery.description }}</p>
      </div>
    </div>
    <div class="row g-4">
      {% for gallery in gallery.images.all %}
        <div class="col-lg-4 col-md-6">
          <div class="gallery-item">
            <img src="{{ gallery.image.thumb }}" class="img-fluid rounded" alt="{{ gallery.name }}" />
            <div class="gallery-overlay">
              <h5>{{ gallery.name }}</h5>
              <p>{{ gallery.caption }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
