{% load static i18n %}
<section id="gallery" class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center mb-5">
        <h2 class="display-4 mb-4 section-title text-light">Guild Gallery</h2>
        <p class="lead text-light">Memories from our greatest victories and adventures</p>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img src="/placeholder.svg?height=300&width=400" class="img-fluid rounded" alt="Mythic Boss Kill" />
          <div class="gallery-overlay">
            <h5>Mythic Sylvanas Kill</h5>
            <p>Our first Cutting Edge achievement</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img src="/placeholder.svg?height=300&width=400" class="img-fluid rounded" alt="Guild Group Photo" />
          <div class="gallery-overlay">
            <h5>Guild Group Photo</h5>
            <p>Annual guild meetup in Stormwind</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img src="/placeholder.svg?height=300&width=400" class="img-fluid rounded" alt="M+ Achievement" />
          <div class="gallery-overlay">
            <h5>M+ Season Success</h5>
            <p>Multiple +20 keys completed</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img src="/placeholder.svg?height=300&width=400" class="img-fluid rounded" alt="PvP Victory" />
          <div class="gallery-overlay">
            <h5>PvP Tournament</h5>
            <p>Guild vs Guild championship</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img src="/placeholder.svg?height=300&width=400" class="img-fluid rounded" alt="Raid Preparation" />
          <div class="gallery-overlay">
            <h5>Raid Preparation</h5>
            <p>Strategy meeting before progression</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="gallery-item">
          <img src="/placeholder.svg?height=300&width=400" class="img-fluid rounded" alt="Social Event" />
          <div class="gallery-overlay">
            <h5>Social Gathering</h5>
            <p>Fun times outside of raiding</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
