{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    {% include "landing/partials/home.html" %}
    {% include "landing/partials/about.html" %}
    {% if events %}
        {% include "landing/partials/calendar.html" %}
    {% endif %}
    {% include "landing/partials/gallery.html" %}
    {% include "landing/partials/recruitment.html" %}
    {% include "landing/partials/rules.html" %}
    {% include "landing/partials/loot.html" %}
    {% include "landing/partials/contact.html" %}
{% endblock content %}
