{% load static i18n %}

{% block content %}
  {% include "landing/htmx/partials/home.html" %}
  {% if about %}
    {% include "landing/htmx/partials/about.html" %}
  {% endif %}
  {% include "landing/htmx/partials/calendar.html" %}
  {% if gallery %}
    {% include "landing/htmx/partials/gallery.html" %}
  {% endif %}
  {% include "landing/htmx/partials/recruitment.html" %}
  {% include "landing/htmx/partials/rules.html" %}
  {% include "landing/htmx/partials/loot.html" %}
  {% include "landing/htmx/partials/contact.html" %}

  
  
  
{% endblock %}
