{% load static i18n %}
<section id="recruitment" class="py-5 bg-wow-secondary text-wow-cream">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center fade-in">
        <h2 class="display-4 fw-bold text-wow-green mb-4 pirate-title">
          <i class="fa-solid fa-skull-crossbones me-2"></i> {% translate "Reclutamiento" %} <i class="fa-solid fa-skull-crossbones me-2"></i>
        </h2>
        <p class="lead">
          {% translate "¿Tienes lo necesario para navegar con los" %} <span class="spanish-accent">Conquistadores</span>?
        </p>
        <p>
          {% translate "Se busca carne de cañón con talentos específicos. Si tienes pulgares y puedes pulsar al menos tres botones, ¡eres bienvenido en nuestra tripulación legendaria! (Se valorará no pisar el fuego)." %}
        </p>
      </div>
    </div>
    <div class="row">
      {% for class in recruitment.classes.all %}
        <div class="col-lg-3 mb-4 fade-in">
          <div class="card">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="https://raidres.fly.dev/img/class-icons/{{ class.name }}.webp"
                     class="card-img img-fluid"
                     alt="..."
                     width="50"
                     height="50">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ class.name }} <span class="float-end badge rounded-pill {% if class.priority == "H" %}text-bg-danger{% else %}text-bg-success{% endif %} ">{{ class.get_priority_display }}</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="text-center mt-4 fade-in">
      <p class="mb-3 fw-bold">
        <strong>{% translate "Requisitos:" %}</strong> {{ recruitment.requirements }}
      </p>
    </div>
  </div>
</section>
