{% load static i18n %}
<section id="recruitment" class="py-5 bg-wow-secondary text-wow-cream">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center fade-in">
        <h2 class="display-4 fw-bold text-wow-green mb-4 pirate-title"><i class="fa-solid fa-skull-crossbones me-2"></i> {% translate "Reclutamiento" %} <i class="fa-solid fa-skull-crossbones me-2"></i></h2>
        <p class="lead mb-5">
          {% translate "¿Tienes lo necesario para navegar con los" %} <span class="spanish-accent">Conquistadores</span>?
          {% translate "Buscamos valientes conquistadores para unirse a nuestra tripulación legendaria." %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-4 fade-in">
        <div class="card h-100 border-wow-green glow-green">
          <div class="card-header card-header-wow">
            <h5 class="mb-0"><i class="fa-solid fa-fire me-2"></i> {% translate "Alta Prioridad" %}</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              {% for class in recruitment.classes.all %}
                {% if class.priority == "H" %}
                  <li class="mb-2">
                    <img src="https://raidres.fly.dev/img/class-icons/{{ class.name }}.webp"
                         class="img-fluid"
                         alt="{{ class.name }}"
                         width="50"
                         height="50">
                    {{ class.name }}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4 fade-in">
        <div class="card h-100 border-wow-green">
          <div class="card-header card-header-wow-low">
            <h5 class="mb-0"><i class="fa-solid fa-khanda me-2"></i> {% translate "Baja Prioridad" %}</h5>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              {% for class in recruitment.classes.all %}
                {% if class.priority == "L" %}
                  <li class="mb-2">
                    <img src="https://raidres.fly.dev/img/class-icons/{{ class.name }}.webp"
                         class="img-fluid"
                         alt="{{ class.name }}"
                         width="50"
                         height="50">
                    {{ class.name }}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-4 fade-in">
      <p class="mb-3 fw-bold">
        <strong>{% translate "Requisitos:" %}</strong> {{ recruitment.requirements }}
      </p>
    </div>
  </div>
</section>
