{% load static i18n %}
<section id="rules" class="py-5 bg-wow-dark text-wow-cream">
  <div class="container">
    <h2 class="display-4 fw-bold text-wow-green text-center mb-5 fade-in pirate-title">
      <i class="fa-solid fa-scroll me-2"></i> {% trans "Código de Conquistadores" %} <i class="fa-solid fa-scroll me-2"></i>
    </h2>
    <div class="row">
      <div class="col-lg-8 mx-auto fade-in">
        <div class="accordion" id="rulesAccordion">
          <div class="accordion-item border-wow-green">
            <h2 class="accordion-header">
              <button class="accordion-button pirate-subtitle"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse1">{% translate "Honor Entre Conquistadores" %}</button>
            </h2>
            <div id="collapse1"
                 class="accordion-collapse collapse show"
                 data-bs-parent="#rulesAccordion">
              <div class="accordion-body">{{ rules.honor|safe }}</div>
            </div>
          </div>
          <div class="accordion-item border-wow-green">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed pirate-subtitle"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse2">{% translate "Compromiso de Expedición" %}</button>
            </h2>
            <div id="collapse2"
                 class="accordion-collapse collapse"
                 data-bs-parent="#rulesAccordion">
              <div class="accordion-body">{{ rules.commitment|safe }}</div>
            </div>
          </div>
          <div class="accordion-item border-wow-green">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed pirate-subtitle"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse3">{% translate "Comunicación de la Tripulación" %}</button>
            </h2>
            <div id="collapse3"
                 class="accordion-collapse collapse"
                 data-bs-parent="#rulesAccordion">
              <div class="accordion-body">{{ rules.communication|safe }}</div>
            </div>
          </div>
          <div class="accordion-item border-wow-green">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed pirate-subtitle"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse4">{% translate "Reparto del Botín" %}</button>
            </h2>
            <div id="collapse4"
                 class="accordion-collapse collapse"
                 data-bs-parent="#rulesAccordion">
              <div class="accordion-body">{{ rules.loot|safe }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
